{% extends "learning_logs/base.html" %} {% block header %}
<div class="jumbotron">
  <h1>Doomba DooDoomBa.</h1>
</div>
<script type="text/javascript">
  function showhide(obj) {
    var seogd = document.getElementById(obj);
    if (seogd.style.display == 'none') { // 만약 seogd가 none이 아니면 즉, 보여지는 상태이면
      seogd.style.display = ''; // seogd를 숨기고
    } else {
      seogd.style.display = 'none'; // seogd이 숨김 상태이면 나타내라
    }
  }
</script>
{% endblock header %} {% block content %}
  <h2>
    <a href="{% url 'users:register' %}">Register an Acoount</a>
    to make your own Learning Log, and list the topics you're learning about.
  </h2>
  <h2>
    <div class="pannel-body">
      <a href="{% url 'learning_logs:nsight' %}">dev-cloudojt001-ncl</a>
    </div>

  </h2>
{% endblock content %}
